[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleach = "*"
branca = "*"
click = "*"
colorama = "*"
decorator = "*"
django = "*"
entrypoints = "*"
folium = "*"
geojson = "*"
gunicorn = "*"
"html5lib" = "*"
ipykernel = "*"
ipython = "*"
ipywidgets = "*"
itsdangerous = "*"
jedi = "*"
jsonschema = "*"
jupyter = "*"
mistune = "*"
nbconvert = "*"
nbformat = "*"
notebook = "*"
numpy = "*"
pandas = "*"
pandocfilters = "*"
pickleshare = "*"
python-dateutil = "*"
pytz = "*"
pyzmq = "*"
qtconsole = "*"
simplegeneric = "*"
six = "*"
testpath = "*"
tornado = "*"
traitlets = "*"
wcwidth = "*"
webencodings = "*"
widgetsnbextension = "*"
Flask = "*"
ipython_genutils = "*"
"Jinja2" = "*"
jupyter_client = "*"
jupyter_console = "*"
jupyter_core = "*"
MarkupSafe = "*"
prompt_toolkit = "*"
Pygments = "*"
Werkzeug = "*"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.6"
